<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dangeboer.raindream.mapper.FanficMapper">

    <insert id="insertBatch">
        INSERT INTO fanfic (
        item_id, era, char_setting, length_type, work_type, update_date, ending_type, read_count
        )
        VALUES
        <foreach collection="list" item="fanfic" separator=",">
            (
            #{fanfic.itemId}, #{fanfic.era}, #{fanfic.charSetting}, #{fanfic.lengthType},
            #{fanfic.workType}, #{fanfic.updateDate}, #{fanfic.endingType}, #{fanfic.readCount}
            )
        </foreach>
    </insert>

</mapper>
