<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dangeboer.raindream.mapper.ItemMapper">

    <select id="getItemList" resultType="com.dangeboer.raindream.model.vo.ItemListVO">
        SELECT *
        FROM item
    </select>

    <insert id="insertBatch">
        INSERT INTO item (
            id, user_id,
            media_type, content_type,
            store_url, content,
            title, fandom, cp, author, source_url, release_year, size_bytes,
            tracking_type, rating, notes, summary
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id}, #{item.userId},
                #{item.mediaType}, #{item.contentType},
                #{item.storeUrl}, #{item.content},
                #{item.title}, #{item.fandom}, #{item.cp}, #{item.author}, #{item.sourceUrl}, #{item.releaseYear}, #{item.sizeBytes},
                #{item.trackingType}, #{item.rating}, #{item.notes}, #{item.summary}
            )
        </foreach>
    </insert>

</mapper>
