<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dangeboer.raindream.mapper.MediaMapper">

    <insert id="insertBatch">
        INSERT INTO media (
        item_id, thumb_url, live_url
        )
        VALUES
        <foreach collection="list" item="media" separator=",">
            (
            #{media.itemId}, #{media.thumbUrl}, #{media.liveUrl}
            )
        </foreach>
    </insert>

</mapper>
